<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <!-- VANILLA BOOTSTRAP -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container">

        <div class="row">

            <div class="col-s-2-offset-3">
                <br><br>
                <div class="panel panel-default">
                    <div class="panel-heading"><h3>Login</h3></div>
                    <div class="panel-body">

                        <form name="login" action="login" method="get">

                            <input type="text" class="form-control"  value="admin" name="user" /><br/>
                            <input type="password" class="form-control"  value="admin" name="pwd" /><br/><br/>
                            <input type="submit" class="button"/>

                        </form>

                    </div>

                </div>

            </div>

        </div>

    </div>

</body>
</html>